<!DOCTYPE html>
<html>
<head>	
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
	<title>Client form</title>
</head>
<body>

	<div class='container'>

		<h2>That is all the clients for {{ stylist.getName() }} :</h2>

		<form action='/add_client' method='post'>
			<input id="stylist_id" name='stylist_id' value="{{ stylist.getId() }}" type='hidden'>
			<label style="font-size: 17px" for="name">Enter the name of a new client :</label>
			<input id='name' name='name' type='text'>

			<button type='submit'>Add</button>
		</form>

		{% if clients is not empty %}

			<h3>Here are all the clients listed for {{ stylist.getName }} :</h3>
				<ul>
				{% for client in clients %}
					<li>{{ client.getName }}</li>
					   <form  style="float: left" action="/stylist_form/{{ stylist.getId }}/deleteSingle" method="post">
                           
                            <input value='{{ client.getId }}' name="client_id" id="client_id" type="hidden">
                            <input name="_method" type="hidden" value="delete">
                            <button type='submit' class="btn btn-danger">Delete</button>
                        </form>
                        
 						<form style="float: left, margin-bottom: 10px" action="/stylist_form/{{ stylist.getId }}/client/edit" method="post">
                           
                            <input value='{{ client.getId }}' name="client_id" id="client_id" type="hidden">
                            <button style='margin-left: 7px' type='submit' class="btn btn-warning">Edit</button>
                        </form>
						<br>
                           

				{% endfor %}
				</ul>

			{% else %}

			<p>Sorry we don't have any client listed for {{ stylist.getName() }} yet ...</p>

		{% endif %}

		<form action='/stylist_form/{{stylist.getId()}}/delete_all_clients' method='post'>
	            <input name="_method" type="hidden" value="delete">
	            <button type='submit' class="btn btn-danger">Delete them all</button>
		</form>

		 	<a href="/"><button style='margin-top: 10px' type="submit" class="btn btn-info">Return</button></a>

	</div>



</body>
</html>